.DS_Store
Thumbs.db
*.swp
*~

*.log
logs
*.log.*

*.tmp
*.temp


node_modules/

.npm
.npmrc

.yarn/
.pnp.*


out/
dist/

*.tsbuildinfo

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json


*.vsix

