.vscode/**
.vscode-test/**
node_modules/**
src/** # Exclude source TS if you only ship compiled JS
tsconfig.json
devbox.json
.direnv/**
.envrc
*.vsix
*.log
.DS_Store
.git
.gitattributes
.gitignore

out/**/*.map # Exclude source maps from published package (optional)